@inherits LayoutComponentBase
@using Shared
@inject NavigationManager NavManager

<div class="page">
    <div class="sidebar">
        @if (!NavManager.Uri.Contains("/login"))
        {
            <NavMenu />
        }
    </div>

    <main>
        <article class="content px-4 ">
            @Body
        </article>
    </main>

</div>
